/* Header.css */

/* Header container */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue; /* Emerald 500 */
    color: white;
    padding: 1rem;
  }
  
  /* Website name */
  .header .website-name {
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
  }
  
  /* Navigation links */
  .header .navigation {
    display: flex;
  }
  
  .header .navigation a {
    margin-right: 1rem;
    color: white;
    transition: color 0.3s ease;
  }
  
  .header .navigation a:hover {
    color: #4b5563; /* Gray 600 */
  }
  
  /* Icons */
  .header .icons {
    display: flex;
    align-items: center;
  }
  
  .header .icons svg {
    color: white;
    margin-right: 1rem;
  }
  
  /* Hamburger menu button */
  .header .hamburger-menu {
    display: none;
  }
  
  /* Mobile menu */
  .header .mobile-menu {
    display: none;
  }
  
  .header .mobile-menu a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .header .mobile-menu a:hover {
    color: #4b5563; /* Gray 600 */
  }
  
  .header .mobile-menu.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: royalblue; /* Emerald 700 */
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  /* Media Query for Hamburger Menu */
  @media (max-width: 768px) {
    .header .hamburger-menu {
      display: block;
    }
    .header .navigation {
      display: none;
    }
  }
  